.App {
  /* text-align: center; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #f6f6f6;
}

.container {
  display: flex;
  justify-content: center;
}

.productList {
  margin-top: 50px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  column-gap: 5rem;
  row-gap: 5rem;
  max-width: 1170px;
  width: 90vw;
}

.product {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.productImage img {
  width: 100%;
  height: 260px;
}

.productDesc {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 6px 15px;
  background-color: #ede9fe;
  color: #6d28d9;
  
}

.primary {
  background-color: #6d28d9;
  color: #fff;
}

button:disabled{
  cursor: not-allowed;
  background-color: #ccc;
  color: #444;
}
